<style>
 body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, cyan, magenta);
    color: white;
    text-align: center;
}

button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: deepskyblue;
}


</style>

<body>

<h1>Olá, <%= name %> !</h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Sair</button>
</form>

</body>